* {
    box-sizing: border-box;
}

:root {
    --primary-color-back: #152427;
    --primary-color-green: #143c3c;
    --font-heading: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    min-width: 173px;
    height: 57px;
    color: #fff;
    padding: 14px 14px;
    border: none;
    border-radius: 999px;
    outline: none;
    background: var(--primary-color-green);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: 0.25s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-2 {
    --line-clamp: 2;
}

.line-3 {
    --line-clamp: 3;
}

.line-4 {
    --line-clamp: 4;
}

.section-sub-heading {
    color: #152427;
    font-family: var(--font-heading);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.13;
}

.section-sub-heading::before {
    display: inline-block;
    content: "";
    background: #152427;
    width: 25px;
    height: 1px;
    margin-right: 21px;
    margin-bottom: 8px;
}

.section-heading {
    color: #152427;
    font-family: var(--font-heading);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.heading {
    color: #152427;
    font-family: var(--font-heading);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
}

.section-heading::after {
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    background: #152427;
    margin-left: 21px;
    margin-bottom: 6px;
}

.heading.lv3 {
    font-size: 2.2rem;
}

.heading.lv4 {
    font-size: 2rem;
}

/* Header */
.header {
    padding: 28px 0 14px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(30px);
    font-family: "Public Sans";
}

.header--fixed {
    position: sticky;
    top: -14px;
    left: 0;
    z-index: 999;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top::after {
    position: absolute;
    left: 0;
    bottom: -13px;
    display: inline-block;
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.logo {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    gap: 88px;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 10px 15px;
    color: #575d5e;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
    transition: 0.25s;
}

.navbar__link:hover {
    color: var(--primary-color-green);
}

.navbar__link--active {
    position: relative;
    color: var(--primary-color-back);
}

.navbar__link--active::after {
    position: absolute;
    left: 15px;
    bottom: -22px;
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-green);
    z-index: 1000;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    font-family: "Public Sans";
}

.hero__heading {
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 43px;
}

.hero__desc {
    width: 341px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-top: 20px;
}

.hero__cta {
    display: flex;
    align-items: center;
    margin-top: 42px;
}

.hero__watch-video {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 36px;
    outline: none;
    border: none;
    background: transparent;
}

.hero__watch-video:hover {
    cursor: pointer;
}

.hero__watch-video:hover .hero__play::before {
    transform: rotate(225deg);
}

.hero__play {
    position: relative;
}

.hero__play::before {
    position: absolute;
    left: -7px;
    top: -7px;
    display: inline-block;
    content: "";
    width: 50px;
    height: 50px;
    border: 4px solid var(--primary-color-green);
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
    transition: 0.25s;
}

.hero__play-btn {
    padding: 16px;
    width: 43px;
    height: 43px;
    background: #83a17d;
    border-radius: 50%;
}

.hero__play-desc {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Poppins;
    line-height: 1.67;
    white-space: nowrap;
}

.hero__media {
    position: relative;
}

.hero__media-bg {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    position: relative;
    top: 77px;
}

.hero__img + .hero__img {
    margin-left: 20px;
}

.hero__deco {
    position: absolute;
}

.hero__deco:first-of-type {
    top: -7%;
    left: -26%;
}

.hero__deco:nth-of-type(2) {
    top: -5%;
    left: -32%;
}

.hero__deco:nth-of-type(3) {
    transform: rotate(180deg);
    bottom: -30%;
    right: 8%;
}

.hero__deco:last-of-type {
    right: 2%;
    bottom: -28%;
}

/* Partner */
.partner {
    margin-top: 207px;
}

.partner__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 76px 122px;
    background: #e2eddf;
    border-radius: 100px;
}

.partner__arworld .partner__img:last-child {
    margin-left: 11px;
}

/* Service */
.service {
    padding: 75px 0;
    margin-top: 31px;
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__heading {
    width: 520px;
}

.service__controls {
    display: flex;
    gap: 17px;
    padding: 41px 73px 9px 0;
}

.service__control-btn {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    outline: none;
    border: 1px solid #e2eddf;
    transition: 0.25s;
}

.service__control-btn:hover {
    color: #fff;
    background: #143c3c;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    column-gap: 16px;
    margin-top: 76px;
}

.service-item {
    transition: 0.25s;
}

.service-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__info {
    padding: 0px 18px;
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item__info {
    padding: 0 0 24px;
    transition: 0.25s;
}

.service-item__thumb {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.service-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.service-item__heading {
    margin-top: 24px;
}

.service-item__desc {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
    margin-top: 18px;
    color: #7d8188;
    max-width: 268px;
}

/* About */
.about {
    padding: 75px 0;
    margin-top: 7px;
}

.about__inner {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
    width: 52%;
}

.about__images {
    display: flex;
    gap: 21px;
}

.about__img {
    width: 285px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    background: lightgray;
    object-position: center;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-of-type {
    margin-top: 90px;
}

.about__deco:last-of-type {
    position: absolute;
    transform: rotate(16deg);
    top: 19px;
    left: -2px;
}

.section-heading.about__heading::after {
    content: none;
}

.about__content {
    width: 43%;
}

.about__heading {
    width: 483px;
}

.about__desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
    margin-top: 11px;
}

.about-stats__bot,
.about-stats__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-stats__top {
    column-gap: 24px;
    padding: 36px 7px 20px 0;
    border-bottom: 1px solid #83a17d;
}

.about-stats__bot {
    column-gap: 20px;
    padding: 38px 16px 20px 0;
    border-bottom: 1px solid #83a17d;
}

.about-stats__num {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-stats__desc {
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

.about-teams {
    position: absolute;
    right: -8px;
    bottom: 8px;
    padding: 19px 17px 11px;
    width: 143px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.25);
}

.about-teams__heading {
    color: var(--primary-color-back);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.about-teams__subheading {
    display: block;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 6px;
}

.about-teams__percent {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    margin-top: 10px;
}

.about-teams__progress {
    position: relative;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
    margin-top: 3px;
}

.about-teams__progress::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-teams__loading {
    display: block;
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
    text-align: right;
    width: 98px;
}

.about-teams__dot {
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
    margin-top: 3px;
}

.about-teams__dot::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #143c3c;
    border-radius: 50%;
}

.about-teams__members {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
}

.about-teams__members-title {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-teams__members-img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
}

.about-teams__members-img + .about-teams__members-img {
    margin-left: -10px;
}

/* Process */
.process {
    padding-top: 36px;
    margin-top: 4px;
}

.process__heading {
    width: 493px;
    margin-top: 20px;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 54px 41px 25px 20px;
    transition: 0.6s;
}

.process-item::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    content: "";
    width: 1131px;
    height: 3px;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item::before {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    content: "";
    width: 100%;
    height: 185px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 33px;
    background: rgb(226, 237, 223);
    transition: 0.6;
}

.process-item:hover::after {
    visibility: hidden;
    opacity: 0;
}

.process-item:hover {
    padding: 54px 41px 25px 30px;
    cursor: pointer;
}

.process-item:hover .process-item__link {
    display: inline-block;
}

.process-item:hover .process-item__link,
.process-item:hover::before,
.process-item:hover .process-item__img {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.process-item:hover .process-item__desc {
    visibility: hidden;
    opacity: 0;
    transform: translateX(10px);
}

.process-item__content {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    flex-grow: 1;
}

.process-item__order {
    min-width: 107px;
    color: #143c3c;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 52px;
}

.process-item__heading {
    padding: 22px 0;
}

.process-item__desc {
    width: 572px;
    color: #7d8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    transition: 0.25s;
}

.process-item__link {
    visibility: hidden;
    opacity: 0;
    color: #575d5e;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 1; /* 100% */
    text-decoration: underline;
    transition: 0.25s;
}

.process-item__img {
    position: absolute;
    bottom: -16px;
    right: 92px;
    width: 450px;
    height: 444px;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.4s;
}
